reward-item:
  ==: org.bukkit.inventory.ItemStack
  v: 4189
  type: DIAMOND_BLOCK
  meta:
    ==: ItemMeta
    meta-type: UNSPECIFIC
    display-name: '{"text":"Special Diamond Block","italic":false,"color":"aqua"}'

quiz-warmup: 10 # Delay until first question
question-timer: 30 # Time to answer each question
question-delay: 5 # Delay until next question

time-based-rewards: # Answer based on speed
  - 10: 3 # Answer within 10s = 3 diamond blocks
  - 20: 2 # Answer within 20s = 2 diamond blocks
  - 30: 1 # Answer within 30s = 1 diamon block

messages:
  global:
    start: "&5Quiz &6Ein Serverquiz startet in 10 Sekunden mit &e{questions.amount} &6Fragen. Viel Erfolg!"
    end:
      none: "&5Quiz &6Das Quiz ist nun vorbei. Es hat leider keiner gewonnen. Strengt euch mal an!"
      single: "&5Quiz &6Das Quiz ist nun vorbei. Top Rätsler war &e{winner.name} &6mit &e{winner.answers}/{questions.amount}"
      multiple: "&5Quiz &6Das Quiz ist nun vorbei. Top Rätsler waren &e{winner.name} &6mit &e{winner.answers}/{questions.amount}"
      own: "&5Quiz &6Das Quiz ist nun vorbei. Du hast &e{answers.correct}/{questions.amount} &6Fragen richtig beantwortet."
    cancel: "&5Quiz &6Quiz abgebrochen."
    next-question: "&5Quiz &6Nächste Frage: &e{question}"
    time-over: "&5Quiz &6Die Zeit ist um."
  player:
    success: "&5Quiz &6Richtige Antwort! Du hast die Belohnung &e{reward} &6erhalten."